/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    margin: 0px;
    border: 0;
    padding: 0px;
}

.redborder{ border: 1px solid red;}
.greenborder{ border: 1px solid green;}

/* Colors */
:root {
  --color-default: #212529;
  --color-red: #ce1212;
  --color-secondary: #37373f;
}

.clearfix{
    clear:both;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.red-text{ 
    color: #ce1212;
}

.red-background{ 
    background-color: #ce1212;
}

.black-text{ 
    color: #212529;
}

.white-text{ 
    color: #fff;
}

.gray-background{
    background-color: #eee;
}

.container{
    width: 80%;
    margin: 0px auto;
}

 /* Navigation */ 
header{ 
   width: 100%;
   padding: 10px;
}

#header-content{ 
    background: white;
}


#logo-section{
    width:25%;
    height: 60px;
    line-height: 60px;; 
    display:inline-block; 
}

#logo-section a span{
    font-size: 20px;
    font-weight: bold;
}
  
#logo-section img{
    float: left;
}

/* #logo-section span{ 
    display: inline-block;
    vertical-align: middle;
    clear: left;
    color: #000000;
 } */
 

nav{
    width: 73%;
    text-align: right; 
    display: inline-block; 
}

/* header::after, .clearfix{
    clear: both;
} */

 /* .navbar a:hover,
nav li:hover>a {
    color: #000;
} */
nav ul {
    
}

nav ul > li {  
    list-style: none;
    align-items: center;
    display: inline-block;
    padding: 20px 0 20px 28px;
    vertical-align: middle;
}

nav li a:link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}
nav li a:hover{
    text-decoration: underline;
}

nav li:hover>a, .button{
    color: #F7FFF7 !important;
    background: #ce1212;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 50px; 
}




footer{
    /* border: 1px solid red;  */
    width: 100%;
    background-color: #000000;
    color:white;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

/*--------------------------------------------------------------
# page
--------------------------------------------------------------*/

.hero-text{
    width: 40%;
    float: left; 
    padding: 50px;
    line-height: 2;
}
.hero-text h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
}

.hero-text-link{
    padding: 20px 0px;
}

.hero-image{
    width: 50%; 
    float: right;
    text-align: center
}

.hero-image img{
    height: 70%;
    width: 70%;
}

#hero .container{
    padding: 25px;
}